@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new {id = "logoutForm", @class = "navbar-right"}))
    {
        @Html.AntiForgeryToken()

        @*<ul class="nav navbar-nav navbar-right">
            <li>
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    Administrer
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu" role="menu">
                    <li>@Html.ActionLink("Tilmeldinger", "Index", "Signups")</li>
                    <li>@Html.ActionLink("Begivenhed", "Index", "Events")</li>
                    <li>@Html.ActionLink("Information", "Index", "Signups")</li>
                </ul>
            </li>
            <li>
                @Html.ActionLink(User.Identity.GetUserName(), "Index", "Manage", null, new {title = "Manage"})
            </li>
            <li>
                <a href="javascript:document.getElementById('logoutForm').submit()">Log ud</a>
            </li>
        </ul>*@
    }
}
else
{
    <li>@Html.ActionLink("Admin", "Login", "Account", null, new {id = "loginLink"})</li>
}