@using Jylan.Models
@model Jylan.Models.LandingPageViewModel
@{
    // This is shit.
    Jylan.Models.Signup signupModel = new Signup();
}
@{
    ViewBag.Title = "Forside";
}
<div class="jumbotron">
    <h1>JYLAN</h1>
    <p class="lead">Her kan du tilmelde dig, og finde information om det næste JYLAN</p>
    @* TODO: Countdown *@
    <p class="lead">Tid til næste LAN: </p>
</div>
<div class="row">
    <div class="col-md-3">
        <h2>@Model.Name</h2>
        <table style="width: 100%;">
            <tr>
                <td><strong>Tilmeldte:</strong></td>
                <td style="text-align: right;">
                    <span>@Model.Signups.Count()</span>
                    /
                    <span>@Model.MaxSignups</span>
                </td>
            </tr>
            <tr>
                <td><strong>Pris:</strong></td>
                <td style="text-align: right;">
                    <span>@Model.Price kr.</span>
                </td>
            </tr>
            <tr>
                <td><strong>Start tidspunkt:</strong></td>
                <td style="text-align: right;">
                    <span>@Html.DisplayFor(model => model.StartDateTime)</span>
                </td>
            </tr>
            <tr>
                <td><strong>Slut tidspunkt:</strong></td>
                <td style="text-align: right;">
                    <span>@Html.DisplayFor(model => model.EndDateTime)</span>
                </td>
            </tr>
        </table>
        <br/>
        <a href="@Url.Action("Create", "Signups")" class="btn btn-info btn-lg">Tilmeld dig her &raquo;</a>
    </div>
    <div class="col-md-9">
        <h2>Tilmeldte </h2>
        <div class="table-responsive">
            <table class="table">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => signupModel.FirstName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => signupModel.LastName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => signupModel.Nick)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => signupModel.HasPayed)
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Model.Signups)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.FirstName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.LastName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Nick)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.HasPayed)
                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>
</div>